<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>beforeRunningCommand</key>
        <string>nop</string>
        <key>command</key>
        <string>word=${TM_SELECTED_TEXT:-$TM_CURRENT_WORD}
perldoc -u -f &quot;$word&quot; 2&gt;/dev/null | pod2html --q --title &quot;Perl Documentation - $word&quot; 2&gt;/dev/null | sed -e &apos;s|&lt;a href=&quot;#(item_)?([^&quot;]+)&quot;&gt;|&lt;a href=&quot;http://perldoc.perl.org/search.html?q=$2&quot;&gt;|g&apos;
if [[ -e &quot;${TM_DIRECTORY}/pod2htmd.tmp&quot; ]]
  then unlink &quot;${TM_DIRECTORY}/pod2htmd.tmp&quot;
fi
if [[ -e &quot;${TM_DIRECTORY}/pod2htmi.tmp&quot; ]]
  then unlink &quot;${TM_DIRECTORY}/pod2htmi.tmp&quot;
fi</string>
        <key>fallbackInput</key>
        <string>word</string>
        <key>input</key>
        <string>selection</string>
        <key>keyEquivalent</key>
        <string>^h</string>
        <key>name</key>
        <string>Documentation for Word / Selection</string>
        <key>output</key>
        <string>showAsHTML</string>
        <key>scope</key>
        <string>source.perl</string>
        <key>uuid</key>
        <string>DA0A5D89-5F16-11D9-B9C3-000D93589AF6</string>
    </dict>
</plist>
