<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>beforeRunningCommand</key>
        <string>saveActiveFile</string>
        <key>command</key>
        <string>#!/usr/bin/env ruby -w&#x0A;require &apos;win32ole&apos;&#x0A;require &apos;timeout&apos;&#x0A;require ENV[&apos;TM_SUPPORT_PATH&apos;] + &quot;/lib/exit_codes.rb&quot;&#x0A;&#x0A;filename = ENV[&apos;TM_FILEPATH&apos;].delete &apos;\\&apos; &#x0A;url = &quot;file:///&quot; + %x[cygpath -m &quot;#{filename}&quot;].chomp.capitalize&#x0A;&#x0A;begin&#x0A;  Timeout::timeout(5) {&#x0A;    ie = WIN32OLE.new(&apos;InternetExplorer.Application&apos;)&#x0A;    ie.Navigate(&quot;#{url}&quot;)&#x0A;    sleep(&apos;.2&apos;.to_f) while ie.ReadyState != 4&#x0A;    ie.Visible = &apos;true&apos;&#x0A;  }&#x0A;rescue Timeout::Error&#x0A;  puts &quot;Unable connect to #{url} in a reasonable time&quot;&#x0A;  TextMate.exit_show_tool_tip&#x0A;end</string>
        <key>input</key>
        <string>none</string>
        <key>name</key>
        <string>Preview Document in IE</string>
        <key>output</key>
        <string>discard</string>
        <key>scope</key>
        <string>text.html</string>
        <key>keyEquivalent</key>
        <string>^@p</string>
        <key>uuid</key>
        <string>970EE6B5-A091-11D9-A5A2-000D93C8BE28</string>
    </dict>
</plist>
