<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>beforeRunningCommand</key>
        <string>nop</string>
        <key>command</key>
        <string>#!/usr/bin/env ruby -w&#x0A;require ENV[&apos;TM_BUNDLE_SUPPORT&apos;] + &quot;/lib/tokenizer.rb&quot;&#x0A;require ENV[&apos;TM_BUNDLE_SUPPORT&apos;] + &quot;/lib/node.rb&quot;&#x0A;&#x0A;def strip_tags(html)&#x0A;  return html if html.empty? || !html.include?(&apos;&lt;&apos;)&#x0A;  output = &quot;&quot;&#x0A;  tokenizer = HTML::Tokenizer.new(html)&#x0A;  while token = tokenizer.next&#x0A;    node = HTML::Node.parse(nil, 0, 0, token, false)&#x0A;    output += token unless (node.kind_of? HTML::Tag) or (token =~ /^&lt;!/)&#x0A;  end&#x0A;  return output&#x0A;end&#x0A;&#x0A;print strip_tags(STDIN.read)</string>
        <key>fallbackInput</key>
        <string>document</string>
        <key>input</key>
        <string>selection</string>
        <key>name</key>
        <string>Strip HTML Tags from Document / Selection</string>
        <key>output</key>
        <string>replaceSelectedText</string>
        <key>scope</key>
        <string>text.html</string>
        <key>uuid</key>
        <string>20D760B5-A127-11D9-A5A2-000D93C8BE28</string>
        <key>tabTrigger</key>
        <string>striptags</string>
    </dict>
</plist>
