<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>content</key>
   <string>&lt;blockquote&gt;$1&lt;/blockquote&gt;</string>
   <key>name</key>
   <string>Blockquote</string>
   <key>scope</key>
   <string>text.html</string>
   <key>tabTrigger</key>
   <string>bq</string>
   <key>uuid</key>
   <string>3023D5DF-EACF-4DC3-B089-88990D57D73D</string>
</dict>
</plist>