<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>content</key>
   <string>&lt;a href="${1:http://}$2"&gt;$3&lt;/a&gt;</string>
   <key>name</key>
   <string>Input</string>
   <key>scope</key>
   <string>text.html</string>
   <key>tabTrigger</key>
   <string>a</string>
   <key>uuid</key>
   <string>57FB1146-A1F5-49FF-9A22-B92418285AF6</string>
</dict>
</plist>