<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>content</key>
	<string>&lt;h3 id="${1/[[:alpha:]]+|( )/(?1:_:\L$0)/g}"&gt;${1:$TM_SELECTED_TEXT}&lt;/h3&gt;</string>
	<key>name</key>
	<string>Heading 3</string>
	<key>scope</key>
	<string>text.html</string>
	<key>tabTrigger</key>
	<string>h3</string>
	<key>uuid</key>
	<string>91FF3907-A62B-4729-B924-F5ED571CE0DB</string>
</dict>
</plist>
