<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>content</key>
   <string>&lt;meta http-equiv=&quot;content-type&quot; content=&quot;text/html; charset=${1:UTF-8}&quot;&gt;</string>
   <key>name</key>
   <string>Input</string>
   <key>scope</key>
   <string>text.html</string>
   <key>tabTrigger</key>
   <string>charset</string>
   <key>uuid</key>
   <string>44180970-A08E-11D9-A5A2-000D93C8BE28</string>
</dict>
</plist>