<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
   <key>content</key>
   <string>&lt;li&gt;$1&lt;/li&gt;</string>
   <key>name</key>
   <string>List Element</string>
   <key>scope</key>
   <string>text.html</string>
   <key>tabTrigger</key>
   <string>li</string>
   <key>uuid</key>
   <string>9246BB35-A747-42A0-B80A-E8C9D0EBAF18</string>
</dict>
</plist>