<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>beforeRunningCommand</key>
        <string>nop</string>
        <key>command</key>
        <string>#!/usr/bin/env ruby&#x0A;require &apos;rexml/document&apos;&#x0A;&#x0A;def serialize(source, dest)&#x0A;  if source.is_a? REXML::Text&#x0A;    dest.add_text(source.dup)&#x0A;    return dest&#x0A;  end&#x0A;&#x0A;  d2 = dest.add_element(&apos;xsl:element&apos;, &apos;name&apos; =&gt; source.expanded_name)&#x0A;  source.attributes.each { |(k,v)| d2.add_element(&apos;xsl:attribute&apos;, &apos;name&apos; =&gt; k).text = v }&#x0A;  source.children.each { |node| serialize(node, d2)}&#x0A;  dest&#x0A;end&#x0A;&#x0A;source = REXML::Document.new(STDIN.read)&#x0A;dest   = REXML::Document.new&#x0A;&#x0A;print serialize(source.elements[1], dest).to_s</string>
        <key>fallbackInput</key>
        <string>document</string>
        <key>input</key>
        <string>selection</string>
        <key>name</key>
        <string>Create XSL Generator for Selection</string>
        <key>output</key>
        <string>replaceSelectedText</string>
        <key>uuid</key>
        <string>67E7372F-C15F-4009-AE5B-975F2BC9DD91</string>
        <key>keyEquivalent</key>
        <string>^~s</string>
    </dict>
</plist>
