<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>beforeRunningCommand</key>
        <string>nop</string>
        <key>command</key>
        <string># If there’s a selection, output that twice (as a snippet)&#x0A;# leaving the duplicate as the new selected text.&#x0A;# Otherwise split the current line around the caret and&#x0A;# output “right, left” to duplicate the line, leaving the&#x0A;# caret in the same place on the new line&#x0A;&#x0A;if [[ -n &quot;$TM_SELECTED_TEXT&quot; ]]&#x0A;   then exit_insert_snippet &apos;$TM_SELECTED_TEXT${0:$TM_SELECTED_TEXT}&apos;&#x0A;   else exit_insert_text &quot;${TM_CURRENT_LINE:TM_LINE_INDEX}&#x0A;${TM_CURRENT_LINE:0:TM_LINE_INDEX}&quot;&#x0A;fi&#x0A;</string>
        <key>input</key>
        <string>none</string>
        <key>keyEquivalent</key>
        <string>^D</string>
        <key>name</key>
        <string>Duplicate Line / Selection</string>
        <key>output</key>
        <string>afterSelectedText</string>
        <key>uuid</key>
        <string>C46A9DBC-0B06-49DF-838B-491B529ECF22</string>
    </dict>
</plist>
